*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
}
.weather-main-page{
    border: 2px solid black;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}
/* .inputbox{
    border: 2px solid black;
} */
.inputbox button{
    margin-left: 5px;
    padding: 5px;
}
.inputbox input{
    padding: 5px;
}
.weather-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.degree{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.city{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.country{
    display: flex;
    justify-content: center;
}
.coor{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}
.humi-windspeed{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}
.humi-windspeed img{
    width: 50px;
}

